:root {
    --bg-dark: #123;
    --bg: #345;
    --bg-light: #567;
    --bd: #ff0;
    --bd-dark: #970;
    --bd-light: #ff7;
    --color: #ddd;
    --color-dark: #999;
    --color-light: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--color);
}

.header {
    display: flex;
    padding: 10px;
    background-color: var(--bg-dark);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url("../images/bg_meghu_sm.png");
    z-index: 999;
}

footer {
    padding: 10px;
    background-color: var(--bg-dark);
    background-image: url("../images/bg_meghu_sm.png");
}

.logo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .logo {
        flex-direction: column;
    }
}

.logo img {
    height: 100%;
}

.logo:hover img {
    background: radial-gradient(var(--bg-light) 0%, #0000 70%);
}

.main-menu {
    display: flex;
    margin: 0;
}

.main-menu li {
    border: 1px solid var(--bd-dark);
    border-radius: 7px;
    padding: 0;
    margin: 0 7px;
    color: var(--color);
    list-style: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.main-menu li.selected {
    border-color: var(--bd);
    color: var(--color-light);
    background-color: #99770033;
}

.main-menu li:hover {
    background-color: var(--bg-light);
    color: var(--color-light);
    border-color: var(--bd-light);
}

.main-menu li a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: inherit;
}

.main-menu-mobile {
    position: absolute;
    right: 5px;
    top: 100%;
    white-space: nowrap;
    z-index: 1500;
    background-color: var(--bg-light);
    padding: 10px;
    display: none;
    border: 1px solid var(--color);
    border-radius: 7px 0 7px 7px;
    min-width: calc(60vw - 20px);
    max-width: calc(100vw - 20px);
}

.main-menu-mobile li {
    list-style: none;
}

.main-menu-mobile li:hover {
    background-color: var(--bd);
    color: var(--bg-dark);
}

.main-menu-mobile li.selected {
    background-color: var(--bd-dark);
}

.main-menu-mobile li a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: inherit;
}

.menu-checkbox:checked ~ .main-menu-mobile {
    display: block;
}

main {
    position: relative;
    width: 1280px;
    max-width: 100%;
    margin: 165px auto 0 auto;
    padding: 15px 15px 35px 15px;
    min-height: calc(100vh - 300px);
}

.btn {
    text-decoration: none;
    color: inherit;
    padding: 7px 10px;
    border: 1px solid var(--bd-dark);
    border-radius: 7px;
    display: inline-block;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--bg-dark);
    color: var(--bd);
    border-color: var(--bd);
}

.btn:active {
    background-color: var(--bd);
    color: var(--bd-dark);
}

.form-control{
    background-color: var(--bg-light);
    border-color: var(--bd-dark);
    color: var(--bd-light);
}

.form-control::placeholder{
    color: var(--bg-dark);
}

.c {
    border-radius: 7px 7px 0 0;
    background-color: var(--bg-dark);
    margin: 10px 0;
    padding: 15px 20px;
    display: flex;
    border-bottom: 2px solid var(--bd-dark);
}

.c > strong {
    flex: 1;
}

.c > i {
    color: var(--bd-dark);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.d-flex {
    display: flex;
}

.anim-block {
    flex: 1;
    position: relative;
}

.social {
    transition: all 300ms ease;
    position: absolute;
    right: 0;
    bottom: -30px;
    overflow: hidden;
    width: 130px;
    background: #fff;
    text-align: center;
    border-radius: 3px 0 0 3px;
    list-style: none;
    display: flex;
    padding: 5px 7px;
    opacity: 0.03;
}

.social a {
    text-decoration: none;
    padding: 0 7px;
    color: var(--bd-dark);
}

.elev {
    position: relative;
    transition: all 300ms ease;
    border-radius: 12px 12px 0 0;
    background-color: var(--bg-dark);
    padding: 10px;
    /*margin:5px;*/
    border: 5px solid #0000;
    border-bottom: 3px solid #0000;
    background-clip: padding-box;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.elev:hover {
    border-bottom-color: var(--bd-dark);
}

.elev:before {
    transition: all 300ms ease;
    content: "";
    background-image: url("../images/bg_meghu_sm.png");
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    margin: 5px;
}

.elev:hover:before {
    content: "";
    top: 0;
    left: 0;
    opacity: 1;
}

.elev:hover .social {
    opacity: 0.9;
}

#ex_left {
    left: -15px;
    transform-origin: 15px center;
    text-align: right;
    border-radius: 15px 0 0 15px;
}

#ex_right {
    right: -15px;
    transform-origin: calc(100% - 15px) center;
    border-radius: 0 15px 15px 0;
}

#ex_left, #ex_right{
    position: fixed;
    top: 150px;
    background-color: var(--bd-dark);
    color: var(--bg);
    z-index: 1000;
    width: calc(50% + 15px);
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    overflow: hidden;
}

.hr {
    border: 2px solid var(--bd-dark);
}

.feature {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    background-color: var(--bg-light);
    border-radius: 7px;
    padding: 10px 15px 10px 25px;
    width: calc(100% - 30px);
    max-width: 768px;
    transition: all 500ms ease;
}

.feature:hover {
    margin-left: 30px;
}

.feature:hover .count {
    transform: rotate(360deg);
    color: var(--bd-dark);
    background-color: var(--color-light);
    left: -30px;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: 20px;
    background-color: var(--bd-dark);
    border-radius: 7px;
    user-select: none;
    transition: all 500ms ease;
    color: var(--color-light);
    font-size: 27px;
}

.count:hover {
    transform: rotate(360deg);
    color: var(--bd-dark);
    background-color: var(--color-light);
}

.zoom-img-container {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
}

.zoom-img {
    transition: all 300ms ease;
}

.zoom-img:hover {
    transform: scale(120%);
}

.gr_big {
    grid-area: big;
}

.gr_sm1 {
    grid-area: sm1;
}

.gr_sm2 {
    grid-area: sm2;
}
.gr_big, .gr_sm1, .gr_sm2{
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-areas: 'big big sm1' 'big big sm2';
    grid-template-rows: 240px 240px;
    gap: 10px;
}

@media screen and (max-width: 991px) {
    .grid-container {
        grid-template-areas: 'big' 'sm1' 'sm2';
        grid-template-rows: auto;
    }

}
.my-breadcrumb{
    color: var(--bd-dark);
    text-align: right;
}
.my-breadcrumb a{
    text-decoration: none;
    color: inherit;
}

.about-us{
    background-image: url("../images/bg-image1.jpg");
    /*backdrop-filter: opacity(50%);*/
    background-repeat: no-repeat;
    background-color: var(--bg-dark);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 50px;
}

.tx-shadow{
    text-shadow: 0 0 3px var(--bg-dark), 2px 2px 1px var(--bg-dark);
}

.anim-number{
    font-size: 45px;
    font-weight: bold;
    color: var(--bd-dark);
    transition: all 300ms ease-in-out;
}




