:root {
    --bg-dark: #123;
    --bg: #345;
    --bg-light: #567;
    --bd: #ff0;
    --bd-dark: #970;
    --bd-light: #ff7;
    --color: #ddd;
    --color-dark: #999;
    --color-light: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--color);
}

.header {
    display: flex;
    padding: 10px;
    background-color: var(--bg-dark);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url("../images/bg_meghu_sm.png");
    z-index: 999;
}

footer {
    padding: 10px;
    background-color: var(--bg-dark);
    background-image: url("../images/bg_meghu_sm.png");
}

.logo {
    align-self: stretch;
    display: flex;
    cursor: pointer;
}

.logo img {
    height: 100%;
}

.logo:hover img {
    background: radial-gradient(var(--bg-light) 0%, #0000 70%);
}

.main-menu {
    display: flex;
}

.main-menu li {
    border: 1px solid var(--bd-dark);
    border-radius: 7px;
    padding: 0;
    margin: 0 7px;
    color: var(--color);
    list-style: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.main-menu li.selected {
    border-color: var(--bd);
    color: var(--color-light);
}

.main-menu li:hover {
    background-color: var(--bg-light);
    color: var(--color-light);
    border-color: var(--bd-light);
}

.main-menu li a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: inherit;
}

main {
    width: 1280px;
    max-width: 100%;
    margin: 150px auto 0 auto;
    padding: 15px;
}

.btn {
    text-decoration: none;
    color: inherit;
    padding: 7px 10px;
    border: 1px solid var(--bd-dark);
    border-radius: 7px;
    display: inline-block;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--bg-dark);
    color: var(--bd);
    border-color: var(--bd);
    /*transform: scale(150%, 150%);*/
}

.c {
    border-radius: 7px 7px 0 0;
    background-color: var(--bg-dark);
    margin: 10px 0;
    padding: 15px 20px;
    display: flex;
    border-bottom: 2px solid var(--bd-dark);
}

.c > strong {
    flex: 1;
}

.c > i {
    color: var(--bd-dark);
}

.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.d-flex{
    display: flex;
}

.anim-block{
    flex: 1;
    position: relative;
}

.social{
    position: absolute;
    right: 0;
    top: 83px;
    overflow: hidden;
    width: 150px;
    background: #fff;
    text-align: center;
    border-radius: 3px 0 0 3px;
    list-style: none;
    display: flex;
    padding: 5px 7px;
}
.social a{
    text-decoration: none;
    padding: 0 7px;
    color: var(--bd-dark);
}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 512px) {

}